{% extends 'FNCAccountManagementBundle::base.html.twig' %}

{% block content -%}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('fnc_account_management_edit', { 'id': entity.id }) }}">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
            <a data-target="modal" href="{{ path('fnc_account_management_booking', { 'id': entity.id }) }}">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-euro"></span>
                </button>
            </a>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ entity.type|trans }}</td>
                    </tr>
                    <tr>
                        <th>Disabled</th>
                        <td>{{ ('account.disabled.' ~ entity.disabled|number_format)|trans }}</td>
                    </tr>
                    <tr>
                        <th>Number</th>
                        <td>{{ entity.number }}</td>
                    </tr>
                    <tr>
                        <th>Pin</th>
                        <td>{{ entity.pin }}</td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>{{ (entity.balance / 100)|number_format(2, '.', '') }}</td>
                    </tr>
                    <tr>
                        <th>Currency</th>
                        <td>{{ entity.currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                {% for aggregate in entity.aggregates %}
                    <tr>
                        <th>{{ ('aggregator.name.' ~ aggregate.name)|trans }}</th>
                        <td>{{ aggregate.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Timestamp</th>
                    <th>ReferenceCode</th>
                    <th>ReferenceMessage</th>
                    <th>TransactionCode</th>
                    <th>Amount</th>
                    <th>New Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for history in entity.history %}
                    <tr>
                        <td>{{ history.id }}</td>
                        <td>{{ history.timestamp|date("m/d/Y") }}</td>
                        <td>{{ history.referenceCode }}</td>
                        <td>{{ history.referenceMessage }}</td>
                        <td>{{ history.transactionCode }}</td>
                        <td>{{ history.amount }}</td>
                        <td>{{ history.newBalance }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ form(delete_form, {'style':'inline'}) }}
        </div>
    </div>
{% endblock %}
