{% extends '::base.html.twig' %}

{% block body -%}
    {{ knp_menu_render('FNCAccountManagementBundle:Builder:mainMenu', { 'style': 'tabs' }) }}

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="base-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets -%}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endblock %}

{% block javascripts -%}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- Include Account Js -->
    <script src="{{ asset('bundles/fncaccountmanagement/js/main.js') }}"></script>
{% endblock %}
